<ion-view title="FN助手">
  <ion-content>
    <div class="lin_sider">
      <img src="./img/FotorCreated2.jpg" alt="">
    </div>
    <div class="linCont">
      <ul>
        <li>
          <a href="#/app/lin_sfz">
            <p><img src="./img/sfz.png" alt=""></p>
            <p>身份信息查询</p>
          </a>
        </li>
        <li>
          <a href="#/app/lin_szt">
            <p><img src="./img/szt.png" alt=""></p>
            <p>深圳通余额查询</p>
          </a>
        </li>
        <!--<li>-->
        <!--<a href="#/app/lin_ysyx">-->
        <!--<p><img src="./img/ysyx.png" alt=""></p>-->
        <!--<p>电影查询</p>-->
        <!--</a>-->
        <!--</li>-->
        <li>
          <a href="#/app/lin_xz">
            <p><img src="./img/xz.png" alt=""></p>
            <p>星座查询</p>
          </a>
        </li>
        <li>
          <a href="#/app/lin_xzpd">
            <p><img src="./img/xzpd.png" alt=""></p>
            <p>星座配对</p>
          </a>
        </li>
        <li>
          <a href="#/app/lin_sjgsd">
            <p><img src="./img/sj.png" alt=""></p>
            <p>手机归属地</p>
          </a>
        </li>
        <li>
          <a href="#/app/lin_cp">
            <p><img src="./img/cp.png" alt=""></p>
            <p>彩票</p>
          </a>
        </li>
        <li>
          <a href="#/app/lin_zgjm">
            <p><img src="./img/zg.png" alt=""></p>
            <p>周公解梦</p>
          </a>
        </li>
        <li>
          <a href="#/app/lin_cy">
            <p><img src="./img/zd.png" alt=""></p>
            <p>成语词典</p>
          </a>
        </li>
        <li ng-click="hlList()">
          <a href="#/app/lin_hl">
            <p><img src="./img/hl.png" alt=""></p>
            <p>汇率转换</p>
          </a>
        </li>
        <li>
          <a href="#/app/lin_tq">
            <p><img src="./img/tq.png" alt=""></p>
            <p>天气查询</p>
          </a>
        </li>
        <li>
          <a href="#/app/lin_gx">
            <p><img src="./img/jx.png" alt=""></p>
            <p>每日漫画</p>
          </a>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
