<ion-view title="天气查询">
  <ion-content>
    <div class="list">
      <p style="margin: 10px 37px;font-size: 13px;">
        <i class="ion-android-alert" style="font-size: 20px;position: absolute;left: 15px;top: 18px;color: orangered;"></i>
        支持全球5万个城市 - 包含中国2567个市县地区</p>
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="请输入查询城市：北京 or beijing" ng-model="lintq">
        </label>
        <button class="button button-clear" ng-click="linTQ(lintq)">
          <i class="ion-ios-search btnS"></i>
        </button>
      </div>
    </div>
    <!--&lt;!&ndash;ng-show="disSFZ"&ndash;&gt;-->
    <!--<div class="lin_sfzInfo" ng-if="disTQ">-->
      <!--<div class="card">-->
        <!---->
      <!--</div>-->
    <!--</div>-->


  </ion-content>
</ion-view>
